<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEND</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
    <div>
      <header class= "top-header">
        <h1>LEND</h1>
        <h4>Inventory Management</h4>
         </header>
        <nav>
        {{#if logged_in}}
        <a href="/products" id="manage">Manage Inventory</a> |
      
       <button id="logout">Logout</button>
         {{#if manager_id}}
            {{else}}
            <br>
            <br>
            <a href="/api/emp/onboard" class="onboardbtn">Add Employee</a>
          {{/if}}
        {{/if}}
      </nav>
     
      
      <main class="main-box">
        {{{body}}}
      </main>
    </div>
     <script src="/js/logout.js"></script>  
  </body>  
</html>



