<!DOCTYPE html>
<html lang='en'>
 <head>
  <meta charset="UTF-8">
  <title>LEND</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
  <div>
    <header class= "top-header">
      <h1>LEND</h1>
      <h4>Inventory Managment</h4>
    </header>
    <body>
      <main class="main-box">
          <div class="employee-box">Employee #</div>
            <div class="product-items">
             <div class="produce-box">
                <div id='produce-image-1'></div>
                <div id='produce-name-1'></div>
                <input id="produce-amount-1"></input>
            
             
                <div id='produce-image-2'></div>
                <div id='produce-name-2'></div>
                <input id="produce-amount-2"></input>
             
             
                <div id='produce-image-3'></div>
                <div id='produce-name-3'></div>
                <input id="produce-amount-3"></input>
            
             
                <div id='produce-image-4'></div>
                <div id='produce-name-4'></div>
                <input id="produce-amount-4"></input>
             </div>

            <div class="meats-box">
                <div id='meats-image-1'></div>
                <div id='meats-name-1'></div>
                <input id="meats-amount-1"></input>
            
             
                <div id='meats-image-2'></div>
                <div id='meats-name-2'></div>
                <input id="meats-amount-2"></input>
             
             
                <div id='meats-image-3'></div>
                <div id='meats-name-3'></div>
                <input id="meats-amount-3"></input>
            
             
                <div id='meats-image-4'></div>
                <div id='meats-name-4'></div>
                <input id="meats-amount-4"></input>
             </div>

              <div class="dairy-box">
                <div id='dairy-image-1'></div>
                <div id='dairy-name-1'></div>
                <input id="dairy-amount-1"></input>
            
             
                <div id='dairy-image-2'></div>
                <div id='dairy-name-2'></div>
                <input id="dairy-amount-2"></input>
             
             
                <div id='dairy-image-3'></div>
                <div id='dairy-name-3'></div>
                <input id="dairy-amount-3"></input>
            
             
                <div id='dairy-image-4'></div>
                <div id='dairy-name-4'></div>
                <input id="dairy-amount-4"></input>
             </div>

              <div class="pantry-box">
                <div id='pantry-image-1'></div>
                <div id='pantry-name-1'></div>
                <input id="pantry-amount-1"></input>
            
             
                <div id='pantry-image-2'></div>
                <div id='pantry-name-2'></div>
                <input id="pantry-amount-2"></input>
             
             
                <div id='pantry-image-3'></div>
                <div id='pantry-name-3'></div>
                <input id="pantry-amount-3"></input>
            
             
                <div id='pantry-image-4'></div>
                <div id='pantry-name-4'></div>
                <input id="pantry-amount-4"></input>
             </div>
          </div>
      </main>
    </body> 
  </div>
</html>



