 
            <div class="product-items">
                
            {{#each Products}}
            <div class="product-header">{{category_name}}</div>
            <div class="product-description">{{name}}</div>
            <img class="product-image">{{image}}>
            <input class="product-count" style="width 150px;">{{quantity}}
            {{/each}}
</div>