  <div class="employee-box">Employee #</div>
            <div class="product-items">
             <div class="produce-box">
               <div id= "produce1">
                <img>
                <div id='produce-name-1'>item1</div>
                <input id="produce-amount-1"></input>
                </div>
               <div id= "produce2">
                <img>
                <div id='produce-name-2'>item2</div>
                <input id="produce-amount-2"></input>
               </div>
             <div id= "produce3">
                <img>
                <div id='produce-name-3'>item3</div>
                <input id="produce-amount-3"></input>
            </div>
             <div id= "produce4">
                <img>
                <div id='produce-name-4'>item4</div>
                <input id="produce-amount-4"></input>
             </div>
          </div>
            <div class="meats-box">
                <div id="meats1">
                <img>
                <div id='meats-name-1'></div>
                <input id="meats-amount-1"></input>
                 </div>
             <div id="meats2">
                <img>
                <div id='meats-name-2'></div>
                <input id="meats-amount-2"></input>
             </div>
             <div id="meats3">
                <img>
                <div id='meats-name-3'></div>
                <input id="meats-amount-3"></input>
            </div>
             <div id="meats4">
                <img>
                <div id='meats-name-4'></div>
                <input id="meats-amount-4"></input>
             </div>
            </div>
              <div class="dairy-box">
                <div id="dairy1">
                <img>
                <div id='dairy-name-1'></div>
                <input id="dairy-amount-1"></input>
            </div>
             <div id="dairy2">
                <img>
                <div id='dairy-name-2'></div>
                <input id="dairy-amount-2"></input>
             </div>
             <div id="dairy3">
                <img>
                <div id='dairy-name-3'></div>
                <input id="dairy-amount-3"></input>
            </div>
             <div id="dairy4">
                <img>
                <div id='dairy-name-4'></div>
                <input id="dairy-amount-4"></input>
             </div>
            </div>
            
              <div class="pantry-box">
                <div id="pantry1">
                <img>
                <div id='pantry-name-1'></div>
                <input id="pantry-amount-1"></input>
            </div>
            
             <div id="pantry3">
                <img>
                <div id='pantry-name-2'></div>
                <input id="pantry-amount-2"></input>
             </div>
             <div id="pantry3">
                <img>
                <div id='pantry-name-3'></div>
                <input id="pantry-amount-3"></input>
            </div>
             <div id="pantry4">
                <img>
                <div id='pantry-name-4'></div>
                <input id="pantry-amount-4"></input>
             </div>
              </div>
          </div>
          <script src= "../public/inventory.js"