  <div class="employee-box">Employee:{{first_name}} {{last_name}}</div>
  {{#each categories }}
    <div>
            <button>{{category_name}}</button>
    </div>
  {{/each}}
  </div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/inventory.js"></script>