  <div class="employee-box">Employee #</div>
  {{#each categories as |category|}}
    <div>
        <p>
          {{category.id}}.
          {{category.category_name}}
        </p>
    </div>
  {{/each}}
  </div>