     <link rel="stylesheet" href="/css/login.css">
     
    <div>
        <form class="loginform">
            <br>
            <p for="email-login">Email:</p>
            <input type="text" id="email-login" style="width: 150px;" />
                <br>
                <br>
            <p for="password-login">Password:</p>
            <input type="password" id="password-login" style="width: 150px;" />
                <br>
                <br>
            <button class="fill-both-grow" id="login">Login</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/js/login.js"></script>
        <script src="/js/inventory.js"></script>