                    <h1>meats</h1>
            <div class="product-items">
                   {{#each products}}
            <div class="product-description">{{name}}</div>
            <img class="product-image" src="{{image_link}}" width="200" height="200" >
            <input class="product-count" style="width 150px;">{{quantity}}
                     {{/each}}
          </div>
          