
      <main class="onboardform">
        <div class="box">
         <div class="firstname">
         <p>First Name:</p>
         <input class ="firstnameinput">
         </div>
         <div class="lastname">
         <p>Last Name</p>
         <input class= "lastnameinput">
         </div>
         <div class="email">
         <p>Email:</p>
         <input class= "emailinput">
         </div>
         <div class="phonenumber">
         <p>Phone Number:</p>
         <input class="phoneinput">
         </div>
        </div>
      </main>
  


