 <link rel="stylesheet" href="/css/onboard.css">
      
        <div class="box">
         <div class="firstname">
         <p>First Name:</p>
         <input class ="firstnameinput">
         </div>
         <div class="lastname">
         <p>Last Name:</p>
         <input class= "lastnameinput">
         </div>
         
         
         <div class="phonenumber">
         <p>Phone Number:</p>
         <input class="phoneinput">
         </div>
         <div class="email">
         <p>Email:</p>
         <input class= "emailinput">
         </div>
         <div class="password">
         <p>Password:</p>
         <input class= "passwordinput">
         </div>
           <br>
         <button> Submit </button>
        </div>
      
  


