{{!-- <html>
<head>
  <meta charset="UTF-8">
  <title>LEND</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/public/js/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>LEND</h1>
      <h4>Inventory Managment</h4>
    </header>
</html> --}}
