 <div class="employee-box">Employee #</div>
            <div class="product-items">
                 {{#each pantry as |pantry|}}
                <div class="product-header">{{category_name}}</div>
            <div class="product-description">{{pantry.name}}</div>
            <img class="product-image">{{pantry.image}}
            <input class="product-count" style="width 150px;">{{pantry.quantity}}
            {{/each}}
          </div>
          <script src= "/js/inventory.js"