 <div class="employee-box">Employee #</div>
            <div class="product-items">
                
            {{#each produce as |produce|}}
                <div class="product-header">{{category_name}}</div>
            <div class="product-description">{{produce.name}}</div>
            <img class="product-image">{{produce.image}}
            <input class="product-count" style="width 150px;">{{produce.quantity}}
            {{/each}}
          </div>
          <script src= "/js/inventory.js"